/* Dedicated validation-device layout. See README.rst before flashing. */

/delete-node/ &storage_partition;

/ {
	chosen {
		meshbus,radio = &sx1262;
	};
};

&slot1_partition {
	reg = <0x0c2000 0x0a2000>;
};

&cpuapp_rram {
	partitions {
		storage_partition: partition@164000 {
			compatible = "zephyr,mapped-partition";
			label = "meshbus-management-test-storage";
			reg = <0x164000 0x00f000>;
		};

		management_test_stage_partition: partition@173000 {
			compatible = "zephyr,mapped-partition";
			label = "meshbus-management-test-stage";
			reg = <0x173000 0x001000>;
		};

		product_storage_partition: partition@174000 {
			compatible = "zephyr,mapped-partition";
			label = "product-storage-preserved";
			reg = <0x174000 0x009000>;
		};
	};
};
