# Copyright (c) 2026 FoBE Studio
# SPDX-License-Identifier: Apache-2.0

rsource "bluetooth/Kconfig"
rsource "display/Kconfig"
rsource "clock/Kconfig"
rsource "radio/Kconfig"
rsource "indicator/Kconfig"
rsource "power/Kconfig"
rsource "gnss/Kconfig"
rsource "input/Kconfig"
rsource "telemetry/Kconfig"
rsource "contact/Kconfig"
rsource "channel/Kconfig"
rsource "fs/Kconfig"
rsource "meshcore/Kconfig"
rsource "management/Kconfig"
rsource "firmware/Kconfig"
rsource "notify/Kconfig"
rsource "message/Kconfig"
rsource "llext/Kconfig"
rsource "desktop/Kconfig"
