# Copyright (c) 2026 FoBE Studio
# SPDX-License-Identifier: Apache-2.0

config BOARD_IDEA_MESH_TRACKER_C2
	select SOC_NRF54L15_CPUAPP if BOARD_IDEA_MESH_TRACKER_C2_NRF54L15_CPUAPP || BOARD_IDEA_MESH_TRACKER_C2_NRF54L15_CPUAPP_NS
	select SOC_NRF54L15_CPUFLPR if BOARD_IDEA_MESH_TRACKER_C2_NRF54L15_CPUFLPR || \
					    BOARD_IDEA_MESH_TRACKER_C2_NRF54L15_CPUFLPR_XIP
