&esp32_bt_hci { status = "okay"; };
&wifi { status = "okay"; };
&i2c0 {
    sht40: sht40@44 {
        compatible = "sensirion,sht4x";
        reg = <0x44>;
        repeatability = <2>;
    };
};

&i2c0 {
    matter_air: ens160@52 { compatible = "sciosense,ens160"; reg = <0x52>; };
    matter_pressure: lps22hb@5c { compatible = "st,lps22hb-press"; reg = <0x5c>; };
    matter_particles: sps30@69 { compatible = "sensirion,sps30"; reg = <0x69>; };
};
