# Copyright (c) 2026 FoBE Studio
# SPDX-License-Identifier: Apache-2.0

config BOARD_DEVKIT_NRF54L15
	select SOC_NRF54L15_CPUAPP if BOARD_DEVKIT_NRF54L15_NRF54L15_CPUAPP || \
		BOARD_DEVKIT_NRF54L15_NRF54L15_CPUAPP_MB_CLIENT || \
		BOARD_DEVKIT_NRF54L15_NRF54L15_CPUAPP_MB_REPEATER || \
		BOARD_DEVKIT_NRF54L15_NRF54L15_CPUAPP_MB_ROOM || \
		BOARD_DEVKIT_NRF54L15_NRF54L15_CPUAPP_MB_SENSOR
	select SOC_NRF54L15_CPUFLPR if \
		BOARD_DEVKIT_NRF54L15_NRF54L15_CPUFLPR
